{% extends 'base.html' %}
{% block content %}

<h1>Business List</h1>
{% if perms.main_app.add_business %}
  <a href="{% url 'business_create' %}">Create a business</a>
{% endif %}

{% for business in businesses %}
  <div class="card">
    <a href='{% url 'business_detail' business.id %}'>
    <div class="card-content">

      <span class="card-title">{{ business.name }}</span>
      <p>Location: {{ business.location }}</p>
      <p>Hours: {{ business.business_hours }}</p>


    </div>
    </a>
  </div>
{% endfor %}

{% endblock %}
