{% extends 'base.html' %}
{% block content %}
<h1 class="center">About Page</h1>
<ul class="collection left">
    <li class="collection-item">• Boolean Fitness is a comprehensive fitness app that helps users reach their health and wellness goals.</li>
    <li class="collection-item">• The app offers a range of tools and features to help you find the right fitness plan for you!</li>
    <li class="collection-item">• Boolean Fitness is designed to be user-friendly and easy to use, with a clean and intuitive interface.</li>
    <li class="collection-item">• The app is available on all web browsers.</li>
    <li class="collection-item">• Boolean Fitness offers a variety of subscription options, including monthly and annual plans, as well as a free trial for new businesses and wellness coaches.</li>
    <li class="collection-item">• The app is constantly updating and improving, with new features and resources being added on a regular basis.</li>
    <li class="collection-item">• Boolean Fitness is committed to providing its users with the support and resources they need to succeed on their fitness journey.</li>
</ul>
{% endblock %}
