{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Boolean Fitness</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper red">
          <ul>
            <li>
                <a href="{% url 'home' %}" class="left brand-logo"
                >&nbsp;&nbsp;Boolean Fitness</a>
                
            </li>
          </ul>
          <ul class="right">
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Menu<i class="material-icons right">reorder</i></a></li>
          </ul>
        </div>
      </nav>
    </header>
    
    
    <ul id="dropdown1" class="dropdown-content">
      <button id="dark-mode-toggle">Toggle Dark Mode</button>
      <li><a href="{% url 'about' %}">About</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'index' %}">Businesses</a></li>
      <li><a href="{% url 'class_index' %}">Group Classes</a></li>
      <li><a href="{% url 'coach_index' %}">Wellness Coaches</a></li>
      <li><a href="{% url 'profile' %}">Profile</a></li>
      <li><a href="{% url 'logout' %}">Log Out</a></li>
      {% else %}
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      <li><a href="{% url 'login' %}">Log In</a></li>
      {% endif %}
    </ul>

    <main class="container">{% block content %} {% endblock %}</main>
    <div class="center-align">
        <img src="https://i.imgur.com/C1eFpDx.gif" alt="Animated GIF" width="95" height="65" class="brand-logo left">
      </div>
      <footer class="page-footer black">
        <div class="right">
        All Rights Reserved, &copy; 2022 Boolean Hooligans &nbsp;
      </div>
    </footer>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.dropdown-trigger');
      var instances = M.Dropdown.init(elems);
    });
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.carousel');
      var instances = M.Carousel.init(elems, {
        fullWidth: true,
        indicators: true,
        duration: 175
      });
    });
    document.addEventListener('DOMContentLoaded', function() {
      window.next = function() {
        var el = document.querySelector(".carousel");
        var l = M.Carousel.getInstance(el);
        l.next(1);
      }
    });
    document.addEventListener('DOMContentLoaded', function() {
      window.prev = function() {
        var el = document.querySelector(".carousel");
        var l = M.Carousel.getInstance(el);
        l.prev(1);
      }
    });
    const toggle = document.getElementById('dark-mode-toggle');
      if (localStorage.getItem('darkMode') === 'true') {
      document.body.classList.add('dark');
  }

  toggle.addEventListener('click', function() {
      document.body.classList.toggle('dark');
      localStorage.setItem('darkMode', document.body.classList.contains('dark'));
  });
  </script>
</html>
