{% extends 'base.html' %}
{% block content %}
<h1 class="homeTitle center">Welcome to Boolean Fitness</h1>
<p class="slogan">Take the first step towards a healthier lifestyle and sign up for Boolean Fitness today.</p>

<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center"></div>
    <div class="carousel-item" href="#one!">
        <img src="https://i.imgur.com/ULKlH4l.jpg" alt="Fitness Class">
    </div>
    <div class="carousel-item" href="#two!">
        <img src="https://i.imgur.com/kFSpjLx.jpg" alt="Gyms">
    </div>
    <div class="carousel-item" href="#three!">
        <img src="https://i.imgur.com/nSjaCJa.jpg" alt="Wellness Coach">
    </div>
    <div class="carousel-item blue white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
    </div>
    </div>
<br>
<div style="display: flex; justify-content: space-evenly; align-items: center;">
    <a class="waves-effect waves-light btn-small blue" href="{% url 'signup' %}">Sign Up Now!</a>
    <a class="waves-effect waves-light btn-small blue" href="{% url 'login' %}">Login!</a>
</div>
<p class="motto">Whether you're a beginner or a seasoned athlete, Boolean Fitness has something for everyone. Sign up now and start your journey towards a healthier you!</p>


{% endblock %}

